# Support old Trac URLs and redirect to GitHub

<IfModule mod_rewrite.c>
RewriteEngine On

RewriteCond %{REQUEST_URI} ^/jssm($|/*$)
RewriteRule ^.*$ https://github.com/nathanhammond/jssm [L,NE,R=301]

RewriteCond %{REQUEST_URI} ^/ancestry($|/*$)
RewriteRule ^.*$ https://gist.github.com/nathanhammond/5240 [L,NE,R=301]

RewriteCond %{REQUEST_URI} ^/fakeform($|/*$)
RewriteRule ^.*$ https://gist.github.com/nathanhammond/5242 [L,NE,R=301]
</IfModule>

ErrorDocument 404 /error.php
